
<html>

    <head>
        <title>Font Finder</title>
        <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
        <h1>Welcome to the Font Finder!</h1>
        <p1> Please take the 16 personalities quiz, <a href="https://www.16personalities.com/" target="_blank">https://www.16personalities.com/</a> </p1>
        <p> After taking, enter your type category.</p>
            <form action="/personality" method="post">
            <input type="radio" name="personality" value="analyst"> analyst<br>
            <input type="radio" name="personality" value="diplomat"> diplomat<br>
            <input type="radio" name="personality" value="explorer"> explorer<br>
            <input type="radio" name="personality" value="sentinel"> sentinel<br>
            <input type="submit" value="Submit"/>

        </form>
    </body>

</html>
